*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;

}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}


.navbar {
    background-color: #1e1e1e;
    font-family: Calibri, sans-serif;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 35px;
    font-weight: 600;
    color: white;
    font-style: italic;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}

li {
    margin-right: 25px;
}

li a, .dropbtn {
    color: #f1faee;
    font-size: 18px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.dropbtn {
    padding: 10px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1e1e1e;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
    z-index: 1;
}


.dropdown-content a, li a {
    color: white;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: crimson;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: crimson;
}

li a:hover,
.dropdown-content a:hover,
.dropdown:hover .dropbtn {
    background-color: #e63946;
    color: #fff;
}





/* image blac background */


.image-overlay{
    width: 100%;
    height: 100vh;
    background-color: hsla(180, 5%, 16%, 0.8);
    position: relative;
    z-index: 1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 40vh;
}


h1{
    display: flex;
    justify-content: center;
    padding-top: 12px;
    color: white;
    letter-spacing: 5px;
}


video.background-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


